@import 'normalize.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'markdown.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary-color;

  color: $secondary-color;
  font-family: $normal-font;
  font-size: 24px;
}

.wrapper {
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
// ------------------
.header {
  .header__inner {
    background-color: $accent-color;
    padding: 10px 5px;
  }

  .nav-list {
    display: flex;
    gap: 5px;

    .nav-list__btn {
      border: none;
      background-color: $accent-color;
      color: $secondary-color;
      font-family: $normal-font;
      font-size: 16px;
      text-align: center;
      padding: 5px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 5px;
    }

    .nav-list__btn:hover {
      background-color: $hover-color;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.editing {
  &__inner {
    height: 91vh;
    width: 50vw;
    overflow: hidden;

    background-color: $primary-color;
  }

  .editing__input {
    border: none;
    color: $secondary-color;
    background-color: $primary-color;
    height: 100vh;
    width: 50vw;
    font-size: 18px;
    font-family: $bold-font;
    padding: 10px 0px 0px 10px;
    resize: none;
  }

  .editing__input:focus-visible {
    outline: 0;
  }

  .editing__input::-webkit-scrollbar {
    display: none;
  }
}

.preview {
  &__inner {
    height: 91vh;
    width: 50vw;
    background-color: $accent-color;
    font-size: 18px;
    font-family: $bold-font;
    overflow: scroll;
    word-break: break-all;
  }

  &__text {
    padding: 10px 0px 0px 10px;
  }

  .preview__inner::-webkit-scrollbar {
    display: none;
  }
}
